.box{
    position:absolute;
    top:0%;
    left: 10%;
    transform: translate(-50%, -50%);
}
input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #858796;
    background: #fff url("search-icon.png")
    no-repeat 9px center;
    width: 100px;
    transition: all .5s;
}
input.src:hover{
    width: 180px;
    background-color: #fff;
    border-color: #8c10b3;
    box-shadow: 0 0 5px #6dcff680;
}